.home-page {
    /* width: 100vw; */
    height: calc(100vh - 60px);
}

.home-page-container {
    background-color: #161d22;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-page-container h1 {
    text-align: center;
    /* text-wrap: wrap; */
}